@charset "UTF-8";

/* Обнуление */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* -------------------- */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	@media (max-width: 300px){
		padding: 0px 2px;
	}
}

@media (max-width: 300px) {
	.container {
		padding: 0 5px;
	}
}

.header {
	background: rgb(172, 195, 34);
	background: linear-gradient(0deg, rgb(172, 195, 34) 0%, rgb(203, 207, 33) 9%, rgba(218, 236, 32, 0.964) 47%, rgba(38, 41, 185, 0.989) 52%, rgb(75, 78, 206) 75%, rgb(45, 60, 253) 100%);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 80px 20px;
}

.header__logo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 4px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 300px) {
	.header__logo {
		font-size: 30px;
		text-align: center;
	}
}

@media (max-width: 200px) {
	.header__logo {
		font-size: 25px;
	}
}

.header__logo__header__a {
	display: flex;
	align-items: center;
	gap: 30px;
}

.header__logo__header__a:hover {
	color: red;
	text-decoration: underline;
	transition: 2s;
}

.logo__face {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.items img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.main {
	flex: 1 1 auto;
	background-color: #e5f00a;
	background-image: linear-gradient(132deg, #e5f00a 0%, #7272e6 100%);
	background-size: cover;
	background-position: center;
	padding-bottom: 20px;
	height: 100%;
	width: 100%;
}

.main__section {
	margin: 50px 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 20px;
	@media (max-width: 250px){
		margin: 1px;
	}
}

@media (max-width: 1220px) {
	.main__section {
		grid-template-columns: 1fr;
	}
}

.section {
	padding: 20px;
}

.section__foto {
	margin-top: 15px;
	height: auto;
	width: auto;
	display: block;
}

.father {
	max-width: 400px;
	max-height: 500px;
	padding: 6px 5px;
}

@media (max-width: 1552px) {
	.father {
		max-width: 300px;
		max-height: 400px;
	}
}

@media (max-width: 1307px) {
	.father {
		margin-left: 140px;
	}
}

@media (max-width: 1250px) {
	.father {
		max-width: 285px;
		max-height: 385px;
		align-items: center;
	}
}

@media (max-width: 933px) {
	.father {
		margin-left: 20px;
		max-width: 285px;
		max-height: 285px;
	}
}

@media (max-width: 792px) {
	.father {
		margin-left: 70px;
	}
}

@media (max-width: 653px) {
	.father {
		max-width: 285px;
		max-height: 285px;
		margin-left: 25%;
	}
}

@media (max-width: 532px) {
	.father {
		margin-left: 25%;
	}
}

@media (max-width: 465px) {
	.father {
		margin-left: 16vw;
	}
}

@media (max-width: 370px) {
	.father {
		margin-left: 0;
	}
}

@media (max-width: 250px) {
	.father {
		max-width: 200px;
		max-height: 200px;
	}
}

.text__header {
	font-size: 8vw;
	text-align: center;
	font-weight: 900;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 5vw;
	font-weight: 700;
	margin-bottom: 20px;
}

p {
	margin-top: 30px;
	font-size: 3.5vw;
	font-weight: 100;
	margin-bottom: 20px;
}

h3 {
	font-size: 3.5vw;
	font-weight: 900;
}

span {
	font-size: 3.5vw;
}

.mono {
	font-size: 3.5vw;
	margin-bottom: 60px;
	color: rgb(8, 6, 97);
}

.mono:hover {
	color: rgb(226, 223, 25);
	transition: 1.5s;
	text-decoration: underline;
}

.privat {
	font-size: 2rem;
	margin-bottom: 60px;
	color: rgb(8, 6, 97);
}

.privat:hover {
	text-decoration: underline;
	color: rgb(226, 223, 25);
	transition: 1.5s;
}

@media (max-width: 1000px) {
	.text__header {
		font-size: 11vw;
		text-align: center;
		font-weight: 900;
		margin: 0 0 20px 0;
	}

	h2 {
		font-size: 7vw;
		font-weight: 700;
		margin-bottom: 20px;
	}

	p {
		margin-top: 48px;
		font-size: 5vw;
		font-weight: 100;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 6vw;
		font-weight: 900;
	}

	span {
		font-size: 5vw;
	}

	.mono {
		font-size: 5vw;
		margin-bottom: 60px;
		color: rgb(8, 6, 97);
	}

	.mono:hover {
		color: rgb(226, 223, 25);
		transition: 1.5s;
		text-decoration: underline;
	}

	.privat {
		font-size: 5vw;
		margin-bottom: 60px;
		color: rgb(8, 6, 97);
	}

	.privat:hover {
		text-decoration: underline;
		color: rgb(226, 223, 25);
		transition: 1.5s;
	}
}

.footer {
	background-color: rgb(129, 127, 127);
}

.footer__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 50px;
	padding: 40px;
}

.box__contacts {
	display: flex;
	align-items: center;
}

.box__contacts a {
	margin-left: 50px;
	font-size: 20px;
}

.box__social a {
	margin-right: 50px;
	font-size: 20px;
}

@media (max-width: 520px) {
	.footer {
		background-color: rgb(129, 127, 127);
	}

	.footer__box {
		display: grid;
		margin: 0;
		grid-template-rows: repeat(2, 1fr);
		gap: 15px;
		padding: 10px 0;
	}

	.box__contacts {
		order: 2;
	}

	.box__contacts a {
		margin-left: 12px;
		font-size: 12px;
	}
}

@media (max-width: 520px) and (max-width: 200px) {
	.box__contacts a {
		font-size: 8px;
	}
}

@media (max-width: 520px) {
	.box__social {
		order: 1;
	}

	.box__social a {
		margin-right: 0px;
		padding-left: 10px;
	}
}
